@import './../../_settings/_base.css';

.monopolyCardGoToJail {
    width: 17rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
}

.customHeader {
    color: var(--card-color-red);
    font-size: 4rem;
}